    <%- include("navbarowner.ejs") %>

    <!-- Main Content -->
    <div class="dashboard">
      <div class="welcome-text">
        <h1>Welcome,<br /><span>Owner</span></h1>
      </div>
      <div class="image-panel"></div>
    </div>

  </body>
</html>